@charset "UTF-8";

.title {
	position: absolute;
	left: 30%;	
}

.applyList {

	position: absolute;
	top: 25%;
	left: 30%;
	
}

.content {
	display: block;
	position: relative;
	float: left;
	margin-right: 30px;
}

.content a {
	text-decoration: none;
	color: black;

	margin: 15px 0 0 0;
	font-size: 25px;
}

.content a:hover {
	text-decoration: underline;
}

.progress {
	float: left;
	margin-right: 30px;
}

.buttons {
	float: left;
}

.buttons a {
	text-decoration: none;
	color: black;
	margin: 20px 0 0 0;
}

.buttons a:hover {
	color: #666;
}

.sideBar {
	position:fixed;
	right: 10%;
	top: 40%;

}

.sideBar a {
	display: flex;
	text-decoration: none;
	color: black;
	padding: 15px 35px 15px 35px;
	font-size: 20px;
	border: 3px solid #dfdfdf;
	margin: 5% 0 5% 0;
	background-color: white;
	color: #666;
}

.sideBar a:nth-of-type(1) {
	padding-left: 45px;
}

.sideBar a:nth-of-type(2) {
	padding-left: 48px;
}

.sideBar a:nth-of-type(4) {
	background-color: #686868;
	color: white;
}

.sideBar a:hover {
	text-decoration: underline;
}

.sideBar fieldset {
	border: 3px solid #686868;
	padding: 10px 20px 10px 20px;
	
}

.sideBar legend {
	margin-left: 20px;
	font-size: 30px;
	color: #666;
}

.applyList img:nth-of-type(2) {
	width: 25px;
	height: 25px;
	position: relative;
	margin-top: 20px;
	left: 29%;
	
}