@charset "UTF-8";
@font-face{
	src:url("../fonts/KoddiUDOnGothic-Regular.ttf");
	font-family:KoddiRegular;
}
@font-face{
	src:url("../fonts/KoddiUDOnGothic-Bold.ttf");
	font-family:KoddiBold;
}
@font-face{
	src:url("../fonts/BinggraeⅡ.ttf");
	font-family:Binggrae;
}
body {
	letter-spacing:0.1em;
	font-family:KoddiRegular;
	display : flex;
	flex-direction : column;
	justify-content : space-between;
	margin : 0;
}
input, select, option{
	letter-spacing:0.1em;
}
input:not(input[id="apply"]), select, textarea{
	background-color:transparent !important;
}
html.godabiON option{
	background-color:black;
	color:white !important;
}
html.godabiON input:not(input[type=file]), html.godabiON select, html.godabiON textarea{
	border: 1px solid #aaa;
	color:white !important;
}
html.godabiON input::placeholder, html.godabiON textarea::placeholder{
	color:#aaa;
}
html.godabiON #sideNav a:not(#sideNav a[id="resPreview"],#sideNav a[id="saveRes"],#sideNav a[id="postEmpSubmit"]) {
	color: #71D0BD !important;
}
h1,h2,h3,h4,h5,h6{
	font-family:Binggrae;
}
header {
	display: flex;
	flex-basis : 15%;
	position : sticky;
	top : 0;
	justify-content : center;
	width : 100%;
	background-color : white;
	z-index : 100;
	white-space:nowrap;
	margin-bottom: 40px;
}

header section{
	margin-top : 30px;
	flex-basis : 40%;
	
}

main {
	flex-basis : 70%;
	display : flex;
	justify-content : center;
}

footer{
	flex-basis : 15%;
	display : flex;
	justify-content : center;
	margin-top: 50px;
}

footer section{
	flex-basis : 40%;
	margin : 30px 0;
}

footer section article{
	width : 500px;
}

.header-img{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img img{
	width : 300px;
}

.header-navigation {
	display : flex;
	justify-content : space-between;
	text-align : center;
}

.header-navigation a{
	font-size : 25px;
	color : black;
	text-decoration : none;
}

.header-navigation div:not(.header-navigation div:first-of-type) {
	font-size : 23px;
	margin: 0 10px 20px 10px;
}

.header-navigation div:first-of-type {
	font-size : 23px;
	margin-right: 10px;
	margin-bottom: 20px;
}

/* 고대비 */
.header-godaebi .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align:middle;
}

.header-godaebi .switch input {display:none;}

.header-godaebi .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.header-godaebi .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.header-godaebi input:checked + .slider {
  background-color: #2196F3;
}

.header-godaebi input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.header-godaebi input:checked + .slider:before {
  transform: translateX(26px);
}

.header-godaebi .slider.round {
  border-radius: 34px;
}

.header-godaebi .slider.round:before {
  border-radius: 50%;
}

.header-godaebi p {
	margin:0px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
}

/* 고대비 스타일 */

html.godabiON header, html.godabiON body{
	background-color: black;
}
html.godabiON *{
	color : white;
}
html.godabiON * a{
	background-color:transparent !important;
}
.file-help span, .fileLabel span{
	color:black;
}