@charset "UTF-8";

main {
	align-items : center;
}

.section-table {
	flex-basis : 40%;
	border : 1px solid black;
	border-radius : 10%;
	
}

.section-table table{
	text-align : left;
	height : 50vh;
	margin-left : 35%;
}

.section-table table th{
	margin-right : 35%;
	width: 50%;
}
