@charset "UTF-8";

main {
	align-items : center;
}

table, tr, th, td {
	border-top: 1px solid black;
	border-collapse: collapse;
}

table tr:last-of-type {
	border-bottom: 1px solid black;
}

.section-table {
	flex-basis : 40%;	
}

.section-table table{
	text-align : left;
	height : 50vh;
	margin-left : 35%;
}

.section-table table th{
	margin-right : 35%;
	width: 50%;
}
