@charset "UTF-8";

main section {
	flex-basis: 40%;
}

.div-caption p:first-of-type {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

table, tr, td {
	border: 1px solid #28587D;
	text-align: center;
	border-collapse: collapse;
}

table {
	margin-top: -1px;
	height: 350px;
	border-style: hidden;
}

table:not(table:last-of-type) {
	border-bottom: 2px solid #28587D;
}

.div-table {
	border: 1px solid #3778AB;
	border-radius: 20px;
	box-shadow: 0 0 8px #3778AB ;
}

.table2, .table3 {
	height: 170px;
}

.sideBar {
	position:fixed;
	right: 10%;
	top: 40%;

}

.sideBar a {
	display: flex;
	text-decoration: none;
	color: black;
	padding: 15px 35px 15px 35px;
	font-size: 20px;
	border: 3px solid #dfdfdf;
	margin: 5% 0 5% 0;
	background-color: white;
	color: #666;
}

.sideBar a:nth-of-type(1) {
	padding-left: 50px;
}

.sideBar a:nth-of-type(2) {
	padding-left: 50px;
}

.sideBar a:hover {
	text-decoration: underline;
}

.sideBar fieldset {
	border: 3px solid #686868;
	padding: 10px 20px 10px 20px;
}

.sideBar legend {
	margin-left: 10px;
	font-size: 30px;
	color: #666;
}

table {
	width: 815px;
}

table th {
	color: white;
	background-color: #3778AB;
}

table .tr1 a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    text-decoration-line: none;
    color: black;
    background-color: gray;
}


table .tr1 th:nth-of-type(2) {
	width: 115px;

}

table .tr2 th{
	width: 100px;
}

table .tr1 td {
	width: 120px;
}

table .tr5 th {
	height: 40px;
}

table .tr6 th {
	height: 40px;
}

table .tr6 th:last-of-type {
	width: 100px;
}

table .tr6 td:last-of-type {
	width: 230px;
}

table .tr6 input {
	width: 230px;
	margin: 0px;
	height: 30px;
	border: 1px solid gray;
}

table .tr7 td, .tr8 td {
	height: 40px;
}

table .tr7 input:nth-of-type(1), .tr8 input {
	margin-right: 10px;
	height: 30px;
	border: 1px solid gray;
	width: 100px;
}

table .tr7 input[type=radio], .tr7 label {
	height: 10px;
	width: 10px;
}

table .tr10 th, .tr15 th {
	border-left: 1px solid #28587D;	
}

table .tr10 td:last-of-type {
	width: 100px;
}

table .tr10 th:first-of-type {
	width: 130px;
}

table .tr10 th:not(.tr10 th:first-of-type, .tr10 th:last-of-type) {
	height: 70px;
	width: 170px;
}

table .tr14 th {
	width: 150px;
}

table .tr15 th {
	width: 150px;
	height: 70px;
}

table .tr15 th:first-of-type {
	width: 120px;
}

table .tr11 td, .tr12 td, .tr13 td {
	height: 40px;
}

table .tr16 td, .tr17 td, .tr18 td {
	height: 40px;
}

table .tr11 input, .tr12 input, .tr13 input {
	margin: 0px;
	height: 30px;
	border: 1px solid gray;
	width: 135px;
}

table .tr16 input, .tr17 input, .tr18 input {
	margin: 0px;
	height: 30px;
	width: 120px;
	border: 1px solid gray;
}

table caption {
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 50px;
	font-weight: bold;
}

.div-caption {
	position: relative;
	left: 40%;
}

.div-caption img:first-of-type {
	width: 40px;
	height: 40px;
	float: left;
}

.div-caption p {
	width: 175px;
}

