@charset "UTF-8";

p{
	margin : 0;
}

main section{
	flex-basis: 40%;
}

.title {
	left: 30%;	
}

.jobOpening-item {
	display:flex;
	justify-content: space-between;
	
}

.jobOpening-item-content{
	display: flex;
	flex-basis: 50%;
	justify-content: space-between;
}

.jobOpening-item-img img{
	width: 329px;
    height: 182px;
}
.jobOpening-paging {
	text-align: center;
	height : 30px;

}
.jobOpening-paging a{
	padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: white;
    background-color: skyblue;
}	
    

.content a {
	text-decoration: none;
	color: black;
	/* display: flex; */
	
	font-size: 25px;
}

.content a:hover {
	text-decoration: underline;
}

.content p:nth-of-type(1) {
	
	border: 1px solid navy;
	border-radius: 3px;
	padding: 5px 8px 5px 8px;
	font-weight: bold;
	color: navy;
	width: 35%;
	text-align : center;
}

.content p:nth-of-type(2n) {
	
}

.content p:nth-of-type(3) {
	
	border: 1px solid navy;
	border-radius: 3px;
	padding: 5px 8px 5px 8px;
	font-weight: bold;
	color: navy;
	width: 35%;
	text-align : center;
}

.content p:nth-of-type(4) {
	
}

.content > *{
	margin-top : 10px;
}

.deadline {
	flex-basis: 40%;
}

.deadline p:nth-of-type(1) {
	border: 1px solid #dfdfdf;
	margin : 0;
	font-size : 15px;
	width : 70%;
	text-align : center;
	padding : 10px;
	
}

.deadline p:nth-of-type(2) {
	margin-top : 10px;
}

.sideBar {
	position:fixed;
	right: 10%;
	top: 40%;
}

.sideBar a {
	display: flex;
	text-decoration: none;
	color: black;
	padding: 15px 35px 15px 35px;
	font-size: 20px;
	border: 3px solid #dfdfdf;
	margin: 5% 0 5% 0;
	background-color: white;
	color: #666;
}

.sideBar a:nth-of-type(1) {
	padding-left: 45px;
}

.sideBar a:nth-of-type(2) {
	padding-left: 48px;
}

.sideBar a:nth-of-type(3) {
	background-color: #686868;
	color: white;
}

.sideBar a:hover {
	text-decoration: underline;
}

.sideBar fieldset {
	border: 3px solid #686868;
	padding: 10px 20px 10px 20px;
	
}

.sideBar legend {
	margin-left: 20px;
	font-size: 30px;
	color: #666;
}
