@charset "UTF-8";

main section{
	flex-basis: 40%;
}

.title {
	left: 30%;	
}

.jobOpening {
	display: flex;
	top: 25%;
	left: 30%;
}

.content {
	position: relative;
	left: 10%;
}

.content a {
	text-decoration: none;
	color: black;
	display: flex;
	
	font-size: 25px;
}

.content a:hover {
	text-decoration: underline;
}

.content p:nth-of-type(1) {
	float: left;
	margin-right: 10px;
	margin-top: 35px;
	border: 1px solid navy;
	border-radius: 3px;
	padding: 5px 8px 5px 8px;
	font-weight: bold;
	color: navy;
}

.content p:nth-of-type(2n) {
	margin-top: 40px;
}

.content p:nth-of-type(3) {
	clear: left;
	float: left;
	margin-right: 10px;
	border: 1px solid navy;
	border-radius: 3px;
	padding: 5px 8px 5px 8px;
	font-weight: bold;
	color: navy;
}

.content p:nth-of-type(4) {
	float: left;
	margin-top: 20px;
}

.deadline {
	position: relative;
	left: 30%;
	margin-top: -10px;
}

.deadline p:nth-of-type(1) {
	border: 1px solid #dfdfdf;
	padding: 10px;
}

.deadline p:nth-of-type(2) {
	position: relative;
	left: 15px;
}

.sideBar {
	position:fixed;
	right: 10%;
	top: 40%;
}

.sideBar a {
	display: flex;
	text-decoration: none;
	color: black;
	padding: 15px 35px 15px 35px;
	font-size: 20px;
	border: 3px solid #dfdfdf;
	margin: 5% 0 5% 0;
	background-color: white;
	color: #666;
}

.sideBar a:nth-of-type(1) {
	padding-left: 45px;
}

.sideBar a:nth-of-type(2) {
	padding-left: 48px;
}

.sideBar a:nth-of-type(3) {
	background-color: #686868;
	color: white;
}

.sideBar a:hover {
	text-decoration: underline;
}

.sideBar fieldset {
	border: 3px solid #686868;
	padding: 10px 20px 10px 20px;
	
}

.sideBar legend {
	margin-left: 20px;
	font-size: 30px;
	color: #666;
}
