@charset "UTF-8";

table, tr, td {
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
}

.sideBar {
	position:fixed;
	right: 10%;
	top: 40%;

}

.sideBar a {
	display: flex;
	text-decoration: none;
	color: black;
	padding: 20px 40px 20px 40px;
	font-size: 25px;
	border: 3px solid #dfdfdf;
	margin: 5% 0 5% 0;
	background-color: white;
	color: #666;
}

.sideBar a:nth-of-type(1) {
	padding-left: 55px;
}

.sideBar a:hover {
	text-decoration: underline;
}