@charset "UTF-8";

main section {
	flex-basis: 40%;
}

table {
	width: 800px;
	height: 200px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-collapse: collapse;
	
}

table:nth-of-type(2) {
	width: 800px;
	height: 350px;
}

tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	color: #FFFFFF;	
	background-color: #32834A;
}

td {
	width: 200px;
}

form[name='jobFrm'] input {
	border: none;
	padding: 0px;
	height: 40px;
	padding-left: 10px; 
	width: 200px;
	margin: 0px;
}

form[name='jobFrm'] {
	width: 800px;
}

table th {
	font-size: 20px;
}

section p {
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}

.sideBar {
	position:fixed;
	right: 10%;
	top: 40%;
}

.sideBar a {
	display: flex;
	text-decoration: none;
	color: black;
	padding: 15px 35px 15px 35px;
	font-size: 20px;
	border: 3px solid #dfdfdf;
	margin: 5% 0 5% 0;
	background-color: white;
	color: #666;
}

.sideBar a:nth-of-type(1) {
	padding-left: 45px;
}

.sideBar a:nth-of-type(2) {
	padding-left: 48px;
}

.sideBar a:nth-of-type(3) {
	background-color: #686868;
	color: white;
}

.sideBar a:hover {
	text-decoration: underline;
}

.sideBar fieldset {
	border: 3px solid #686868;
	padding: 10px 20px 10px 20px;
	
}

.sideBar legend {
	margin-left: 20px;
	font-size: 30px;
	color: #666;
}