@charset "UTF-8";

main section{
	flex-basis : 40%;
}
	
form[name='searchFrm'] input, form[name='searchFrm'] select{
	height : 35px;
}

form[name='searchFrm'] div{
	width : 762px;
	margin-top : 30px;
	text-align : right;
}


#submit-button{
	border : 1px solid black;
	border-radius : 10%;
	color : white;
	background-color : blue;
	
	text-decoration : none;
	padding : 10px 30px 10px 30px;
	font-weight : bold;
}

.div-boardpaging{
	margin-top : 20px;
	height : 30px;
}

.div-boardpaging a{
	padding : 5px 10px 5px 10px;
	text-decoration : none;
	color : white;
	
	background-color : skyblue;
}