@charset "UTF-8";
@font-face{
	src:url("../fonts/KoddiUDOnGothic-Regular.ttf");
	font-family:KoddiRegular;
}
@font-face{
	src:url("../fonts/KoddiUDOnGothic-Bold.ttf");
	font-family:KoddiBold;
}
@font-face{
	src:url("../fonts/BinggraeⅡ.ttf");
	font-family:Binggrae;
}
body{
	letter-spacing:0.1em;
	font-family:KoddiRegular;
}

h1{
	text-align : center;
	margin-top: 50px;
	font-family:Binggrae;
	font-size:40px;
	height:100px;
	line-height:40px;
	vertical-align:middle;
	position:relative;
}
h1 img{
	position:absolute;
	left:30%;
	height:100px;
	margin-right:20px;
}
h1 span{
	position:absolute;
	right:27%;
	top:12%;
	display:inline-block;
	width:200px;
	margin:20px 0;
}
body {
	height : 100vh;
}

main section {
	flex-basis: 40%;
    
}

.div-signuplink-form{
	
	display: flex;
    justify-content: space-around;
    align-items: center;
    height : 400px;
}

.div-signuplink-form img{
	width : 100px;
	height : 100px;
}

main a{
	font-weight:bold;
	font-family:Binggrae;
	display:inline-block;
	text-align:center;
	white-space:pre-line;
	min-width:300px;
	background-color : #004C6A;
	padding-top : 20%;
	padding-bottom: 20%;
    font-size: 36px;
   	color: white;
    text-decoration: none;
    margin:20px;
    border-radius:5px;
    border:2px solid #666;
}
.disability a{
	background-color : #288233;
}
main a img{
	display:inline-block;
}