@charset "UTF-8";

.profile img {
	width: 100px;
	height: 100px;
}

form[name='signupFrm'] input:not(.signupFrm9 input, .signupFrm10 input) {
	display: flex;
	margin-top: 10px;
	width: 482px;
	height: 40px;
	padding-left: 10px;
}

form[name='signupFrm'] {
	width: 500px;
}

form[name='signupFrm'] label:not(.signupFrm9 input, .signupFrm10 label) {
	font-weight : bold;
	font-size: 20px;
}

form[name='signupFrm'] div {
	margin-top: 20px;
}

.signupFrm6 select, .signupFrm8 select {
	height: 30px;
}

.signupFrm9 input {
	height: 25px;
} 

.signupFrm7 select {
	width: 140px;
	height: 30px;
}

.signupFrm6, signupFrm7, .signupFrm8 {
	float: left;
}

.signupFrm7 label {
	margin-left: 60px;
}

.signupFrm9 label {
	margin-left: 70px;
}

#signupBtn {
	text-decoration: none;
	border: 1px solid #D13B3B;
	background-color: #D13B3B;
	color: white;
	padding: 25px 50px 25px 50px;
	display: block;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

section .title {
	position: relative;
	display: flex;
	left: 27%;
}

section .profile img:not(.profile label img:last-of-type) {
	width: 300px;
	height: 200px;
	border: 2px solid black;
}

section .profile label img:last-of-type {
	width: 30px;
	height: 30px;
	cursor: pointer;

}

section .profile label {
	display: block;
	
}

section .profile label span {
	font-size: 15px;
	margin-left: 7px;
	cursor: pointer;
}

section .profile {
	text-align: center;
}

section .profile p {
	font-weight: bold;

}

form[name='signupFrm'] p:not(.profile p) {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-bottom: 0px;
	
}

#duplicateCheck{
	background-color : #1A8F64;
	color : white;
	text-decoration-line: none;
	padding : 10px;
}


#signupBtn {
	text-decoration: none;
	border: 1px solid #D13B3B;
	background-color: #D13B3B;
	color: white;
	padding: 25px 50px 25px 50px;
	display: block;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}