@charset "UTF-8";

.img-upload{
	display:inline-block;
	width:300px;
    height:200px;
	position:relative;
}
#fileUpload{
	position:absolute;
    left: 0;
    top:0;
    width:304px;
    height:204px;
    background-color: transparent;
    z-index: 20;
    color: transparent;
    box-sizing:border-box;
    margin-top:20px;
}
form[name="signupFrm"] input::-webkit-file-upload-button{
    display: none;
}
.profile .logo-img {
	width: 300px;
	height: 200px;
	border: 2px solid black;
	background-color:#eee;
}
.file-help{
	position:absolute;
	width: 300px;
	height: 200px;
	top:0;
	left:0;
	vertical-align:middle;
}

.fileLabel{
	position:absolute;
	z-index:-10;
	width: 304px;
	height: 204px;
	top:0;
	left:0;
	vertical-align:middle;
	transition-duration:0.3s;
}
.fileLabel img{
	display:inline-block;
	width: 100px;
	height: 100px;
	margin-top:40px;
}
.fileLabel span, .file-help span{
	font-weight:bold;
}
.file-help span{
	display:inline-block;
	margin-top:70px;
}
.img-upload:hover .fileLabel{
	z-index:10;
	background-color:rgba(220,220,220,0.8);
	transition-duration:0.3s;
}

form[name='signupFrm'] input:not(input[type=file], .signupFrm9 input, .signupFrm10 input) {
	display: flex;
	margin-top: 10px;
	width: 482px;
	height: 40px;
	padding-left: 10px;
}

form[name='signupFrm'] {
	width: 500px;
}

form[name='signupFrm'] label:not(.signupFrm9 input, .signupFrm10 label) {
	font-weight : bold;
	font-size: 20px;
}

form[name='signupFrm'] div {
	margin-top: 20px;
}

.signupFrm6 select, .signupFrm8 select {
	height: 30px;
}

.signupFrm9 input {
	height: 25px;
} 

.signupFrm7 select {
	width: 140px;
	height: 30px;
}

.signupFrm6, signupFrm7, .signupFrm8 {
	float: left;
}

.signupFrm7 label {
	margin-left: 60px;
}

.signupFrm9 label {
	margin-left: 70px;
}

#signupBtn {
	text-decoration: none;
	border: 1px solid #D13B3B;
	background-color: #D13B3B;
	color: white;
	padding: 25px 50px 25px 50px;
	display: block;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

section .title {
	position: relative;
	display: flex;
	left: 27%;
}

section .profile label {
	display: block;
	
}

section .profile label span {
	font-size: 15px;
	margin-left: 7px;
	cursor: pointer;
}

section .profile {
	text-align: center;
}

section .profile p {
	font-weight: bold;

}

form[name='signupFrm'] p:not(.profile p) {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-bottom: 0px;
	
}

#duplicateCheck{
	background-color : #1A8F64;
	color : white;
	border: 2px solid #aaa;
	border-radius:2px;
	text-decoration-line: none;
	padding : 10px;
	font-family:Binggrae;
}


#signupBtn {
	text-decoration: none;
	border: 2px solid #aaa;
	background-color: #004C6A;
	color: white;
	padding: 25px 50px 25px 50px;
	display: block;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family:Binggrae;
}
html.godabiON #duplicateCheck{
	border:2px solid #FF958C;
}
html.godabiON #signupBtn{
	border:2px solid #71D0BD;
}

section .title {
	font-family:Binggrae;
	position: relative;
	display: flex;
	left: 24%;
}

section .title img {
	width: 70px;
	height: 70px;
	margin-top: 10px;
	margin-right:10px;
}
html.godabiON section .title img{
	content: url("../image/buildings_w.svg");
}

section .title p {
	font-size: 30px;	
	font-weight: bold;
}
input[type="date"]{
	position: relative;
}
input[type="date"]::before {
  display:none;
}
input[type="date"]::-webkit-calendar-picker-indicator{
	background:transparent;
	margin-left: 10px;
	width: 25px;
  	height:20px;
  	z-index:5;
}
input[type="date"]:after{
  position: absolute;
  top:50%;
  right:0;
  content: '';
  width: 25px;
  height:20px;

  background: url('../image/calendar_b.svg') center center /contain no-repeat;
  transform: translateY(-50%);
  z-index: 1;
}
html.godabiON input[type="date"]:after{
  background: url('../image/calendar.svg') center center /contain no-repeat;
  transform: translateY(-50%);
}